@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

#timeContainer {
    background-color: rgb(76, 129, 125);
    height: 100vh;
    width: 100%;
    text-align: center;
    position: absolute;
}


#timeDisplay {
    position: relative;
    margin-bottom: 120px;
    z-index: 9999;
    font-size: 120px;
    color: white;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#timeDisplay::before {
    content: '';
    position: absolute;
    width: 525px;
    height: 525px;
    background-color: rgb(44, 79, 77);
    z-index: -1;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: shine;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes shine {
    0%, 100% {
        box-shadow: 0px 0px 30px -15px white;
    }
    50% {
        box-shadow: 0px 0px 30px 5px white;
    }
}

button {
    background-color: rgb(44, 79, 77);
    margin-top: 50vh;
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
    transition: all .2s ease;
    outline: 0;
    font-size: 24px;
    cursor: pointer;
}
button:not(:last-child) {
    margin-right: 20px;
}
button:hover,button:focus {
    border-color: white;
    color: white;
    box-shadow: 0px 4px 27px -12px white;
}